NODE_ENV=development
PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=trumonie
POSTGRES_SSL=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=replace_me
JWT_EXPIRES_IN=3600s
REFRESH_JWT_SECRET=replace_me_refresh
REFRESH_JWT_EXPIRES_IN=7d

PII_ENCRYPTION_KEY=replace_with_32byte_hex
KYC_VENDOR_API_KEY=stub
WALLET_NUBAN_BANK_CODE=340

SYSTEM_TREASURY_NGN_ACCOUNT_ID=
SYSTEM_TREASURY_USD_ACCOUNT_ID=
SYSTEM_FEES_NGN_ACCOUNT_ID=
SYSTEM_FEES_USD_ACCOUNT_ID=
SYSTEM_SETTLEMENT_INTERNAL_NGN_ACCOUNT_ID=
SYSTEM_SETTLEMENT_INTERNAL_USD_ACCOUNT_ID=
SYSTEM_SETTLEMENT_LICENSED_NGN_ACCOUNT_ID=
SYSTEM_SETTLEMENT_LICENSED_USD_ACCOUNT_ID=
SYSTEM_SETTLEMENT_PAYSTACK_NGN_ACCOUNT_ID=
SYSTEM_SETTLEMENT_PAYSTACK_USD_ACCOUNT_ID=
SYSTEM_SETTLEMENT_FLUTTERWAVE_NGN_ACCOUNT_ID=
SYSTEM_SETTLEMENT_FLUTTERWAVE_USD_ACCOUNT_ID=

DEFAULT_PAYMENT_PROVIDER=licensed
DEFAULT_BILLS_PROVIDER=licensed
DEFAULT_KYC_PROVIDER=licensed
DEFAULT_FX_PROVIDER=licensed
DEFAULT_CARDS_PROVIDER=licensed
DEFAULT_OTP_PROVIDER=resend
DEFAULT_NOTIFICATION_PROVIDER=licensed

LICENSED_INFRA_BASE_URL=
LICENSED_INFRA_API_KEY=
LICENSED_INFRA_TIMEOUT_MS=10000
LICENSED_INFRA_WEBHOOK_SECRET=
LICENSED_INFRA_PAYMENTS_VIRTUAL_ACCOUNT_PATH=/payments/virtual-accounts
LICENSED_INFRA_PAYMENTS_PAYOUT_PATH=/payments/payouts
LICENSED_INFRA_PAYMENTS_RESOLVE_PATH=/payments/accounts/resolve
LICENSED_INFRA_PAYMENTS_STATUS_PATH=/payments/status
LICENSED_INFRA_BILLS_CATALOG_PATH=/bills/catalog
LICENSED_INFRA_BILLS_VALIDATE_PATH=/bills/validate
LICENSED_INFRA_BILLS_PURCHASE_PATH=/bills/purchase
LICENSED_INFRA_BILLS_NQR_PAY_PATH=/bills/nqr/pay
LICENSED_INFRA_KYC_VERIFY_PATH=/kyc/verify
LICENSED_INFRA_FX_RATE_PATH=/fx/rate
LICENSED_INFRA_CARDS_CREATE_PATH=/cards
LICENSED_INFRA_CARDS_BLOCK_PATH=/cards/block
LICENSED_INFRA_CARDS_UNBLOCK_PATH=/cards/unblock
LICENSED_INFRA_OTP_SEND_PATH=/otp/send
LICENSED_INFRA_NOTIFICATIONS_SEND_PATH=/notifications/send

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
TWILIO_MESSAGING_SERVICE_SID=
TWILIO_BASE_URL=https://api.twilio.com
TWILIO_TIMEOUT_MS=10000

RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@trumonie.app
RESEND_BASE_URL=https://api.resend.com
RESEND_TIMEOUT_MS=10000

INTERSWITCH_CLIENT_ID=
INTERSWITCH_CLIENT_SECRET=
INTERSWITCH_OAUTH_BASE_URL=https://qa.interswitchng.com
INTERSWITCH_OAUTH_TOKEN_PATH=/passport/oauth/token
INTERSWITCH_SCOPE=profile
INTERSWITCH_GRANT_TYPE=client_credentials
INTERSWITCH_ROUTING_BASE_URL=https://api-marketplace-routing.k8.isw.la/marketplace-routing/api/v1
INTERSWITCH_BVN_VERIFY_PATH=/verify/identity/bvn/verify
INTERSWITCH_NIN_VERIFY_PATH=/verify/identity/nin/verify
INTERSWITCH_FACE_COMPARE_PATH=/verify/identity/face-comparison
INTERSWITCH_TIMEOUT_MS=10000
